#banner .masthead {
    height: 20vh;
    min-height: 230px;
    background-image: url('imgsrc/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#class_info .class_name{
    border: 2px solid #c0c0c0;
    width: 60%;
    margin: auto;
    padding: 15px 0;
    border-radius: 2px;
    position: relative;
}

.sample-section-wrap {
    position: relative;
    background-color: white;
}

.sample-section {
    position: relative;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}