#banner .masthead {
    height: 20vh;
    min-height: 230px;
    background-image: url('imgsrc/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header_font {
    font-weight: bold;
    font-size: 28px
}

.edit_title {
    text-align:center;
    font-size: 32px;
    padding-top: 50px;
    font-weight:bold
}

.add_course_style {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    display: flex;
    width: 4%;
    height: 10%;
    padding: 10px;
}

.fix_content_decoration {
    margin-top: 6%;
    margin-bottom: 3%;
    padding-top: 3px;
    height: auto;
    font-size: 24px;
}

.button_decoration {
    float: right;
}

.button_decoration>#submit {
    background-color: #A3D1D1;
    border-radius: 8px;
}

.button_decoration>#cancel {
    background-color: #E0E0E0;
    border-radius: 8px;
}

.textbox_fix {
    width: 100%;
    margin-bottom: 5%;
}

.context_box {
    height: 600px;
}

.label_style {
    font-weight: bold;
}