#banner .masthead {
    height: 20vh;
    min-height: 250px;
    background-image: url('https://www.programing.tw/banner.d55f84a31879e79c72ec.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sample-section-wrap {
    position: relative;
    background-color: white;
}

.sample-section {
    position: relative;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}